<div class="row">
  <div class="col-md-12">
    <p><a href="/score/edit">Score Page</a></p>
    {{# if blogs }}
      <h1>My Blog Posts</h1>
      {{# each blogs }}
          <div class="panel panel-default">
            <div class="panel-body">
              <ul class="list-group">
                <li class="list-group-item">
                  <h3>{{ this.title }}</h3>
                  <small>{{ this.author }}</small>
                </li>
              </ul>
            </div>
          </div>
      {{/each}}

    {{ else }}
    <div class="no-scores-div">
      <h1 class="no-scores text-center">You have no blogs.</h1>
    </div>
    {{/if}}
  </div>
</div>
